{% extends 'base.html.twig' %}

{% block body %}
  <h1 style="text-align: center">Evidencija zauzeća</h1>

  <div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin: 10px">
        <button class="btn btn-success"><a href="{{path('zauzece.create')}}">Unos novog zauzeća</a></button>
      </div>
    </div>
  </div>

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endfor %}

  <table class="table table-striped">
      <thead>
        <tr>
          <td>Datum zauzeća</td>
          <td>Period</td>
          <td>Datum isteka zauzeća</td>
          <td>Romobil</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        {% for zauzece in zauzeca %}
          <tr>
            <td>{{zauzece.datumZauzeca.format('d/m/Y')}}</td>
            <td>{{zauzece.period.format('%d days')}}</td>
            <td>{{zauzece.datumIsteka.format('d/m/Y')}}</td>
            <td>{{zauzece.romobil}}</td>
            <td><a href="{{path('zauzece.update', {id: zauzece.id})}}">uredi</a></td>
            <td><a href="{{path('zauzece.delete', {id: zauzece.id})}}">obriši</a></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

    <button class="btn btn-success"><a href="{{path('home')}}">Natrag</a></button>
  </div>
{% endblock %}
