{% extends 'base.html.twig' %}

{% block body %}
  <h1 style="text-align: center">Evidencija bicikala</h1>

  <div class="container">
    <div style="width:500px; margin:auto; margin-top: 30px">
      <div class="row" style="margin: 10px">
        <a class="btn btn-success" href="{{path('bicikl.create')}}">Unos novog vozila</a>
      </div>
      <div class="row" style="margin: 10px">
        <a class="btn btn-success" href="{{path('zauzeceBicikla.view')}}">Zauzimanje vozila</a>
      </div>
  </div>

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endfor %}

  <table class="table table-striped">
      <thead>
        <tr>
          <td>Tip</td>
          <td>Broj putnika</td>
          <td>Marka</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        {% for bike in bikes %}
          <tr>
            <td>{{bike.tip}}</td>
            <td>{{bike.brojPutnika}}</td>
            <td>{{bike.marka}}</td>
            <td>
              {% if bike.status == true %}
                Zauzet
              {% else %}
                Slobodan
              {% endif %}
            </td>
            <td>
              <a class="btn btn-warning" href="{{path('bicikl.update', {id: bike.id})}}"><i class="fa fa-edit"></i> Uredi</a>
              <a class="btn btn-danger" href="{{path('bicikl.delete', {id: bike.id})}}"><i class="fa fa-trash"></i> Obriši</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

    <a class="btn btn-success" href="{{path('home')}}">Natrag</a>
  </div>
{% endblock %}
