{% extends 'base.html.twig' %}

{% block body %}
  <h1 style="text-align: center">Evidencija marki</h1>

  <div class="container">
    <div style="width:500px; margin:auto; margin-top: 30px">
      <div class="row" style="margin: 10px">
        <a class="btn btn-success" href="{{path('marka.create')}}">Unos nove marke</a>
      </div>
    </div>

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endfor %}

  <table class="table table-striped">
      <thead>
        <tr>
          <td>Naziv</td>
          <td>Akcija</td>
        </tr>
      </thead>
      <tbody>
        {% for marka in marke %}
          <tr>
            <td>{{marka.naziv}}</td>
            <td>
              <a class="btn btn-warning" href="{{path('marka.update', {id: marka.id})}}"><i class="fa fa-edit"></i> Uredi</a>
              <a class="btn btn-danger" href="{{path('marka.delete', {id: marka.id})}}"><i class="fa fa-trash"></i> Obriši</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

    <a class="btn btn-success" href="{{path('home')}}">Natrag</a></button>
  </div>
{% endblock %}
