{% extends 'base.html.twig' %}

{% block body %}
  <h1 style="text-align: center">Evidencija zauzeća bicikala</h1>

  <div class="container">
      <div style="width:500px; margin:auto; margin-top: 30px">
        <div class="row" style="margin: 10px">
          <a class="btn btn-success" href="{{path('zauzeceBicikla.create')}}">Unos novog zauzeća</a>
        </div>
      </div>

  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endfor %}

  <table class="table table-striped">
      <thead>
        <tr>
          <td>Datum zauzeća</td>
          <td>Period</td>
          <td>Datum isteka zauzeća</td>
          <td>Bicikl</td>
          <td>Akcija</td>
        </tr>
      </thead>
      <tbody>
        {% for zauzece in zauzeca %}
          <tr>
            <td>{{zauzece.datumZauzeca.format('d/m/Y')}}</td>
            <td>{{zauzece.period.format('%d days')}}</td>
            <td>{{zauzece.datumIsteka.format('d/m/Y')}}</td>
            <td>{{zauzece.bicikl}}</td>
            <td>
                <a class="btn btn-warning" href="{{path('zauzeceBicikla.update', {id: zauzece.id})}}"><i class="fa fa-edit"></i> Uredi</a>
                <a class="btn btn-danger" href="{{path('zauzeceBicikla.delete', {id: zauzece.id})}}"><i class="fa fa-trash"></i> Obriši</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

    <a class="btn btn-success" href="{{path('bicikl.view')}}">Natrag</a>
  </div>
{% endblock %}
